body{
	width: 1024px;
}
h1{
	text-align: center;
}
.line{
	width: 1004px;
	margin: 10px;
	white-space: nowrap;
}
.block{
	width: 480px;
	height: 180px;
	margin: 0 5px;
	vertical-align: middle;
	display: inline-block;
	border: red solid 1px; 
}
.tovar{
	width:233px;
	margin: 0px;
	display: inline-block;
}
input{
	width: 100px;
}
.select{
	font-size: 9px;
	
}